<div class="ctaBox">
<a href="#formSection">
  BLIV FRIVILLIG
</a>
</div>


<style>

  .ctaBox{
  width: 100%;
  display: flex;
  justify-content: center;
}

a {
  background-color: var(--tertiary-accentcolor);
  color: var(--text-color);
  border: none;
  border-radius: 1rem;
  padding: 1rem 2rem; 
  font-weight: normal;
  cursor: pointer;
  text-decoration: none;
    width: 400px;
  display: inline-block; /* or display: block */
  text-align: center;
    margin-block: 2rem;
    margin-bottom: 3rem;
}

a:hover {
  background-color: var(--secondary-accentcolor);
  color: var(--alternate-text-color);
}

  @media screen and (max-width: 600px){
    .ctaBox{
width: 50%;
margin: auto;
}

a{  
  margin-block: 1rem;
}
  }
</style>
