<a class="ctaknap">
  <p>Bliv frivillig</p>
</a>

<style>
  .ctaknap {
    background-color: var(--tertiary-accentcolor);
    color: var(--text-color);
    border: none;
    border-radius: 1rem;
    padding: 1rem 2rem; 
    font-size: 2rem;
    font-weight: normal;
    cursor: pointer;
  }
</style>
