<div id="formSection">
<h1>Hvad så nu?</h1>
<form>
   <p>Udfyld formularen og bliv ringet op af en Røde Kors-medarbejder eller en frivilligleder i dit lokalområde. 
    Sammen finder I ud af, hvilken frivilligaktivitet, 
    der passer til dig, ud fra det du har indtastet i formularen.</p> 

    

      <h3><b>Hvad er du interesseret i at hjælpe med?</b></h3>
  <div class="Frivillighedstyper">

    <div class="FrivilligValg">
    <input type="checkbox" id="Butiksfrivillig" name="fav_language" value="Butiksfrivillig">
  <label for="Butiksfrivillig">Butiksfrivillig </label> 
    <a href="#" class="button">i</a>
      </div>
   
<div class="FrivilligValg">
  <input type="checkbox" id="Parathjælper" name="fav_language" value="Parathjælper">
  <label for="Parathjælper">Parathjælper</label>
  <a href="#1" class="button">i</a>
</div>

<div class="FrivilligValg">
  <input type="checkbox" id="Kommunikation" name="fav_language" value="Kommunikation">
  <label for="Kommunikation">Kommunikation</label><a href="#" class="button">i</a> 
</div>

<div class="FrivilligValg">
   <input type="checkbox" id="Sortering" name="fav_language" value="Sortering">
  <label for="Sortering">Sortering</label><a href="#" class="button">i</a> 
</div>

<div class="FrivilligValg">
    <input type="checkbox" id="IT-hjælper" name="fav_language" value="IT-hjælper">
  <label for="IT-hjælper">IT-hjælper</label><a href="#" class="button">i</a> 
</div>

<div class="FrivilligValg">
     <input type="checkbox" id="Mentor" name="fav_language" value="Mentor">
  <label for="Mentor">Mentor</label><a href="#" class="button">i</a> 
</div>

<div class="FrivilligValg">
       <input type="checkbox" id="Hospitalscafé" name="fav_language" value="Hospitalscafé">
  <label for="Hospitalscafé">Hospitalscafé</label><a href="#" class="button">i</a> 
</div>

<div class="FrivilligValg">
     <input type="checkbox" id="Asylcenter" name="fav_language" value="Asylcenter">
  <label for="Asylcenter">Asylcenter</label><a href="#" class="button">i</a> 
</div>

<div class="FrivilligValg">
    <input type="checkbox" id="Samarit" name="fav_language" value="Samarit">
  <label for="Samarit">Samarit</label><a href="#" class="button">i</a> 
</div>

<div class="FrivilligValg">
  <input type="checkbox" id="Indsamler" name="fav_language" value="Indsamler">
  <label for="Indsamler">Indsamler</label><a href="#" class="button">i</a> 
</div>

<div class="FrivilligValg">
    <input type="checkbox" id="Besøgsven" name="fav_language" value="Besøgsven">
  <label for="Besøgsven">Besøgsven</label><a href="#" class="button">i</a> 
</div>

<div class="FrivilligValg">
 <input type="checkbox" id="Lektiehjælper" name="fav_language" value="Lektiehjælper">
  <label for="Lektiehjælper">Lektiehjælper</label><a href="#" class="button">i</a> 
</div>

<div class="FrivilligValg">
   <input type="checkbox" id="Klubfrivllig" name="fav_language" value="Klubfrivllig">
  <label for="Klubfrivllig">Klubfrivllig</label><a href="#" class="button">i</a> 
</div>

<div class="FrivilligValg">
    <input type="checkbox" id="Ung på Linje" name="fav_language" value="Ung på Linje">
  <label for="Ung på Linje">Ung på Linje</label><a href="#" class="button">i</a> 
</div>

<div class="FrivilligValg">
    <input type="checkbox" id="Lejrleder" name="fav_language" value="Lejrleder">
  <label for="Lejrleder">Lejrleder</label><a href="#" class="button">i</a> </div>
    </div>

      <label for="fname">Dit fulde navn</label>
  <input type="text" id="fname" name="fname" value=""><br>

     <label for="TLF">Dit telefon nummer</label>
  <input type="number" id="TLF" name="TLF" value=""><br>

        <label for="email">Din Email</label>
  <input type="email" id="email" name="email" value=""><br>

          <label for="adr">Din Adresse</label>
  <input type="text" id="adr" name="adr" value=""><br>

<label for="Kom">Kommentar/Spørgsmål</label>
  <textarea id="Kom" name="Kom" rows="4" cols="50">
</textarea>

  <p>Når du udfylder formularen accepterer du, at Røde Kors må kontakte dig via sms, telefon og e-mail.
Se Røde Kors’ politik om persondata.  </p>
<br>
<h3><b>Samtykke</b></h3>

<p>Jeg giver samtykke til, at Røde Kors må behandle mine oplysninger,
     så længe de er relevante for arbejdet med at matche mig med en frivilligaktivitet. 
     Mine oplysninger må deles med den relevante medarbejder eller frivillige i Røde Kors og jeg må kontaktes mhp.
      at følge op på min oplevelse med at melde mig som frivillig i Røde Kors.
      Jeg kan til enhver tid trække mit samtykke tilbage ved at skrive til 
      blivfrivillig@rodekors.dk. </p>

  <div class="sammentykke">
      <input type="checkbox" id="Sammentykke" name="fav_language" value="">
  <label for="Sammentykke">Yes, det er helt fint med mig</label>
</div>

<br>

  <input type="submit" value="Indsend">
</form>
</div>


<style>

.button {
  background-color: var(--secondary-accentcolor);
  border: none;
  border-radius: 100%;
  color: var(--alternate-text-color);
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

form{
    display: grid;
    background-color: var(--primary-accentcolor);
  gap: 10px;
padding: 15px;
width: 55%;
 align-items: center;
  justify-content: center;
  margin: auto;
  margin-bottom: 25px;
  color: var(--alternate-text-color);
}

.Frivillighedstyper{
  display: grid; 
  grid-template-columns: 1fr 1fr ;
   grid-template-rows:repeat(7,  1fr);
gap:10px;
  padding:15px;
}

.FrivilligValg{
  display: flex;
  margin: 10px;
}

a{
  margin-left: auto
  ;
}

p, h3, label{
  color:var(--alternate-text-color);
}

p{
    max-width: 65ch;
}

input[type="text"],input[type="email"],input[type="number"], textarea{
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
   background-color: var(--secondary-accentcolor);
  appearance: none;
  cursor: pointer;
}

input[type="checkbox"]{
  background-color: var(--secondary-accentcolor);
  appearance: none;
    width: 25px;
  height: 25px;
  border: 2px;
  display:flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

input[type="checkbox"]:checked::before{
  content: "✕";
  font-size: 20px;
}


.sammentykke{
  display:flex; 
  gap: 25px;
}

input[type="submit"]{
   background-color: var(--tertiary-accentcolor);
  appearance: none;
  cursor: pointer;
  border: none; 
     width: 200px;
padding: 1rem;
  border-radius: 10px;
  font-size: 16px;
}

input[type="submit"]:hover{
   background-color: var(--tertiary-accentcolor);
}


@media screen and (max-width: 600px){
form, #formSection
{width:90%;}
.Frivillighedstyper{
  grid-template-columns: 1fr;
}
}


</style>