<div popover id="forskelPopover">
  <div></div>
  <div class="forskelbillede"><p>hej</p></div>
  <div><button popovertarget="forskelPopover">x</button></div>
</div>

<style>
  #forskelPopover {
    background-color: var(--primary-accentcolor);
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
  }
  .forskelbillede {
    background-color: var(--secondary-accentcolor);
  }
</style>
